name: Shell Command

on: [pull_request]

jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: "Multi Line Stript"
        run: |
          node -v
          npm -v